---
layout : 'base.njk'

heroImgSrc: "/assets/about.jpg"
heroImgAlt: "HomePageHeroImg"
eleventyComputed:
  heroTitle: "{{ title }}"
---

<!-- hero section -->
{% include "_layouts/heroSection.njk" %}


<!-- Main Content -->
<div id="blogPost" class="mx-auto  px-4 md:px-14 py-16  lg:flex lg:space-x-8 ">
    <!-- Blog Content -->
    <article class="w-full lg:w-2/3 bg-[var(--colorWhite2)] shadow-lg rounded-lg p-6 ">
        {# <h3 class="text-3xl font-bold text-[var(--colorDark)]">{{ title }}</h2> #}
            <div class="flex gap-4 items-center mb-4">
                <p class="text-[var(--textGray)]"><i class="fa-regular fa-user text-[var(--primaryColor)]"></i>
                    {{author}}</p>
                <p class="text-[var(--textGray)]"><i class="fa-regular fa-clock text-[var(--primaryColor)]"></i> {{date
                    }}</p>
            </div>
            <img src="{{img}}" alt="{{title}}" class="w-full h-96 mt-4 rounded-lg object-cover">
            <div class="mt-6">
                {{ content | markdown | safe }}
            </div>

            <!-- Comments Section -->
            {# <section class="mt-8">
                <h3 class="text-xl font-bold text-[var(--colorDark)]">Comments</h3>
                <div class="mt-4">
                    <div class="p-4 bg-[var(--colorWhite)] border rounded-lg mb-4">
                        <p class="text-[var(--colorDark)] font-bold">User123</p>
                        <p class="text-[var(--textGray)] mt-1">Great article! I really enjoyed reading it and learned a
                            lot.
                            Keep
                            up the good work!</p>
                    </div>
                    <div class="p-4 bg-[var(--colorWhite)] border rounded-lg mb-4">
                        <p class="text-[var(--colorDark)] font-bold">AnotherUser</p>
                        <p class="text-[var(--textGray)] mt-1">Thank you for this detailed post. It provided me with a
                            lot
                            of
                            insight on the topic.</p>
                    </div>
                </div>
                <!-- Comment Form -->
                <form class="mt-6">
                    <textarea
                        class="w-full p-4 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500"
                        placeholder="Add a comment..." rows="4"></textarea>
                    <button
                        class="mt-4 bg-[var(--primaryColor)] text-[var(--colorWhite)] py-3 px-5 rounded-md hover:bg-[var(--primaryColorHover)] transition duration-300 ease-in-out text-[1.1rem]">Post
                        Comment</button>
                </form> #}
            </section>
    </article>

    <!-- Sidebar -->
    <aside class="w-full lg:w-1/3 mt-8 lg:mt-0">
        <div class="bg-[var(--bgLight)] shadow-lg rounded-lg p-6">
            <h3 class="text-xl font-bold text-[var(--colorDark)]">Recent Posts</h3>
            <hr class="h-[.3rem] bg-[var(--primaryColor)] rounded-full mt-3 mb-5" />
            <div class="mt-4">

                {% for blog in collections.blogPosts %}
                {% if loop.index <= 3 %} 
                    <a href="{{ blog.url }}"
                    class="flex items-center justify-center  rounded-md gap-2  mb-4 h-[6rem]">
                    <img src="{{ blog.data.img }}" alt="{{ blog.data.title }}"
                    class="h-[100%] w-[30%] rounded-md object-cover">
                    
                    <div  class="w-[70%] p-1">
                        <p
                            class=" text-[var(--colorDark)] hover:text-[var(--primaryColor)] transform duration-300 ease-in-out">
                            {{ blog.data.title | truncate(40, '...') }}
                        </p>
                        <p class="text-sm text-[var(--textGray)] mt-1"><i class="fa-regular fa-clock"></i>
                            {{blog.data.date}}</p>
                    </div>
                    </a>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>

        <div class="bg-[var(--bgLight)] shadow-lg rounded-lg p-6 mt-6">
            <h3 class="text-xl font-bold text-[var(--colorDark)]">Services</h3>
            <hr class="h-[.3rem] bg-[var(--primaryColor)] rounded-full mt-3 mb-5" />
            <ul class="mt-4 space-y-2">
                {% for service in collections.services %}
                <li><a href="{{ service.url }}" class="text-[var(--primaryColor)] hover:underline">{{
                        service.data.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% include "_layouts/callUs.njk" %}
        {# <div class="bg-[var(--bgLight)] shadow-lg rounded-lg p-6 mt-6">
            <h3 class="text-xl font-bold text-[var(--colorDark)]">Tags</h3>
            <hr class="h-[.3rem] bg-[var(--primaryColor)] rounded-full mt-3 mb-5" />
            <div class="mt-4 flex flex-wrap gap-2">
                <a href="#"
                    class="inline-block bg-[var(--primaryColor)] text-[var(--colorWhite)] px-3 py-1 rounded-full text-sm">Plumbing</a>
                <a href="#"
                    class="inline-block bg-[var(--primaryColor)] text-[var(--colorWhite)] px-3 py-1 rounded-full text-sm">Remodeling</a>
                <a href="#"
                    class="inline-block bg-[var(--primaryColor)] text-[var(--colorWhite)] px-3 py-1 rounded-full text-sm">Gas
                    Line</a>
            </div>
        </div> #}
        
    </aside>
    </section>