<footer class="bg-[var(--colorDark)]">
    <div class="container mx-auto  grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-8 px-4 md:px-10 ">
        <!-- Logo and Description -->
        <div>
            <a href="/index.html" class="order-last lg:order-none flex items-center space-x-2">
                <img src="/assets/logo.png" alt="Logo" class="w-14 ">
                <div class="flex flex-col">
                    <span class="text-[var(--primaryColor)] font-bold text-3xl ">Plum<span
                            class="text-[var(--colorWhite)]">Lab.</span></span>
                    <span class="text-[var(--colorWhite)] text-sm  font-semibold">Best Plumber Service</span>
                </div>
            </a>
            <p class="mt-4 max-w-xs text-[var(--colorWhite)]">
                Management Plumbing includes a broad range of activities, and the many firms and their members often
                define these practices.
            </p>
            <!-- Social Media Icons -->
            <div class="flex mt-4 space-x-3">
                <a href="https://www.facebook.com/" target="_blank"
                    class="text-[var(--textGray)] hover:text-[var(--primaryColor)] hover:scale-150 transition duration-300 ease-in-out"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/" target="_blank"
                    class="text-[var(--textGray)] hover:text-[var(--primaryColor)] hover:scale-150 transition duration-300 ease-in-out"><i
                        class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/feed/" target="_blank"
                    class="text-[var(--textGray)] hover:text-[var(--primaryColor)] hover:scale-150 transition duration-300 ease-in-out"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://in.pinterest.com/" target="_blank"
                    class="text-[var(--textGray)] hover:text-[var(--primaryColor)] hover:scale-150 transition duration-300 ease-in-out"><i
                        class="fab fa-pinterest"></i></a>
            </div>
        </div>

        <!-- Quick Links -->
        <div>
            <h5 class="text-xl font-semibold text-[var(--colorWhite)]">Quick Link</h5>
            <ul class="mt-4 space-y-2 text-[var(--colorWhite)] transition duration-300 ease-in-out">
                <li><a href=/pages/about"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> About Us</a></li>
                <li><a href="/pages/projects"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Projects</a></li>
                <!-- <li><a href="#" class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                                class="fa-solid fa-angles-right"></i> Services</a></li> -->
                <li><a href="/pages/contact"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Contact</a></li>
                <li><a href="/pages/blog"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Our Blog</a>
                </li>
                <li><a href="/pages/Dublin"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Dublin, Columbus</a>
                </li>
                <li><a href="/pages/Clintonville"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Clintonville, Columbus</a>
                </li>
                <li><a href="/pages/Downtown"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Downtown, Columbus</a>
                </li>
            </ul>
        </div>

        <!-- Quick contacts -->
        <div>
            <h5 class="text-xl font-semibold text-[var(--colorWhite)]">Quick Contact</h5>
            <ul class="mt-4 space-y-2 text-[var(--colorWhite)] transition duration-300 ease-in-out">
                <li><a href="#" class=" transition duration-300 ease-in-out flex items-center gap-4"><i
                            class="fa-solid fa-location-dot text-[var(--colorWhite)]"></i> Columbus, Ohio, USA</a>
                </li>
                <li><a href="#" class=" transition duration-300 ease-in-out flex items-center gap-4"><i
                            class="fa-solid fa-phone text-[var(--colorWhite)]"></i> +000 123 456 789</a></li>
                <li><a href="#" class=" transition duration-300 ease-in-out flex items-center gap-4"><i
                            class="fa-solid fa-envelope text-[var(--colorWhite)]"></i> plumblab@gmail.com</a></li>

            </ul>
        </div>

        <!-- Our Services -->
        <div>
            <h5 class="text-xl font-semibold text-[var(--colorWhite)]">Our Services</h5>
            <ul class="mt-4 space-y-2 text-[var(--colorWhite)] transition duration-300 ease-in-out">
                <li><a href="/pages/remodelingservice"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Remodeling Service</a></li>
                <li><a href="/pages/basementservice"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Basement Plumbing</a></li>
                <li><a href="/pages/bathroomservice"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Bathroom Plumbing</a></li>
                <li><a href="/pages/gaslineservice"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Gas Line Services</a></li>
                <li><a href="/pages/kitchenservice"
                        class="hover:text-[var(--primaryColor)] transition duration-300 ease-in-out"><i
                            class="fa-solid fa-angles-right"></i> Kitchen Plumbing</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-[var(--colorDark2)] text-[var(--colorWhite)] text-center p-2 sm:p-4 lg:text-base px-4 md:px-10">
        <p>&#169; Copyright <span id="year"></span> | PlumbLab - Plumber Website Theme | All right reserved. | <a
                href="/pages/privacypolicy" class="underline">Privacy Policy</a></p>
    </div>
</footer>