<section class=" mx-auto  py-12 bg-[var(--bgLight)]  px-4 md:px-14">
    {# <div class="mb-10">
        <h2 class="text-center text-4xl mb-3 text-[var(--colorDark)] font-bold">Best <span
                class="text-[var(--primaryColor)]">Services</span> We Offer</h2>
        <p class="hidden sm:block text-center  text-[var(--colorDark)]">Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.<br> has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div> #}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
        {% for service in collections.services %}
        <div class="bg-[var(--colorWhite)] rounded-xl p-8 ">
            <div class="overflow-hidden rounded-xl w-full h-[16rem]">
                <img src="{{ service.data.img }}"
                    alt="{{ service.data.title }}" 
                    class="rounded-xl w-full h-full object-cover transition-transform duration-200 ease-in-out hover:scale-110"
                    loading="lazy">
            </div>
            <h2 class="text-[var(--colorDark)] text-xl font-medium mt-4 mb-2">{{ service.data.title }}</h2>
            <h3 class="text-[var(--textGray2)] mb-2">{{ service.content.slice(3) |  truncate(60, '...')  }}</h3>
            <a href="{{service.url}}"
                class="transition duration-300 ease-in-out hover:text-[var(--primaryColor)] font-semibold">Read More
                <i class="fa-solid fa-angles-right"></i></a>
        </div>
        {% endfor %}


    </div>
</section>