{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- about section -->
{% include "components/shared/aboutUsSection.njk" %}

<!-- Why choose us  -->
{% include "components/shared/whyChooseUs.njk" %}

<!-- blog 3 card -->
{% include "components/shared/blog3Card.njk" %}


{% endblock %}




 




 