{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Blog Post content -->
{% include "components/blogPostTemplate/content.njk" %} 


{% endblock %}





