{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}


<!-- Blogs body -->
{% include "components/blogs/blogsBody.njk" %}




{% endblock %}





