{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/home/homeHeroSection.njk" %}

<!-- about section -->
{% include "components/shared/aboutUsSection.njk" %}

<!-- Servise crousel -->
{% include "components/home/serviceCrousel.njk" %}


<!-- Why choose us  -->
{% include "components/shared/whyChooseUs.njk" %}

<!-- Project gallary -->
{% include "components/shared/projectGallary.njk" %}

<!-- Testimonial -->
{% include "components/shared/testimonial.njk" %}

<!-- blog 3 card -->
{% include "components/shared/blog3Card.njk" %}


{% endblock %}
















