{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Top service areas img -->
{% include "components/ourServiceAreas/serviceAreasLocation.njk" %}

<!-- Service areas -->
{% include "components/ourServiceAreas/content.njk" %}

<!-- Map -->
{% include "components/shared/map.njk" %} 

{% endblock %}








