{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Privacy Policy -->
{% include "components/privacyPolicy/content.njk" %}

<!-- Blog3 card -->
{% include "components/shared/blog3Card.njk" %}

{% endblock %}




