{% extends "base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Privacy Policy -->
{% include "components/privacyPolicy/content.njk" %}


{% endblock %}




