{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Project gallary -->
{% include "components/shared/projectGallary.njk" %}


{% endblock %}






