{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}


<!-- Service body  -->
{% include "components/servicePageTemplate/content.njk" %}

{% endblock %}




