{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Services body -->
{% include "components/services/servicesBody.njk" %}


{% endblock %}



