
{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}


<!-- Service area Body -->
{% include "components/serviceAreaTemplate/content.njk" %}


<!-- Map -->
{% include "components/shared/map.njk" %}

{% endblock %}