{% extends "layouts/base.njk" %}

{% block content %}

<!-- Hero Section -->
{% include "components/shared/heroSection.njk" %}

<!-- Terms and condition content-->
{% include "components/termsAndCondition/termsAndCondition.njk" %} 



<!-- Blog3 card -->
{% include "components/shared/blog3card.njk" %}


{% endblock %}

















