
<!-- about us -->
<section class="{{aboutUsSectionBgColor}} mx-auto  py-16   px-4 md:px-14">
    <div class="{{aboutUsSectionTopHeading}} mb-10">
        <h2 class="text-center text-4xl mb-3 text-colorDark font-bold">About <span
                class="text-primaryColor">Us</span></h2>
        <p class="hidden sm:block text-center  text-colorDark">Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.<br> has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-6 items-stretch">
        <!-- Left Image -->
        <div class="w-full  mb-8 lg:mb-0 flex justify-center ">
            <img src="/resources/assets/about.jpg" alt="Plumber Image"
                class=" rounded-lg object-cover  border w-full h-[20rem] lg:h-full">
        </div>

        <!-- Right Content -->
        <div class="w-full   flex flex-col p-8 justify-center">
            <!-- <h3 class="text-bgColorDark text-lg font-semibold mb-1">About Us</h3> -->
            <p
                class="xl:text-4xl xl:mb-4 lg:text-[1.7rem] text-[1.6rem] font-bold text-primaryColor mb-3">
                Over
                25+ Years Experience In Plumbing
                Service</p>
            <p class="text-textGray2 mb-5 xl:mb-6  lg:text-[1rem] xl:text-[1.1rem]">
                Eveniet, consectetur, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, ea! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Similique, reiciendis! adipisicing elit.
                Possimus, impedit! adipisicing elit. Delectus inventore molestiae commodi vitae deleniti dolore ea
                expedita consectetur qui pariatur. Quam modi quidem porro ullam minima nostrum pariatur consectetur
                iste nisi. Similique saepe nobis laudantium maiores libero provident dolore eligendi?
            </p>
            <a href="/about"
                class="{{aboutUsSectionBTN}} w-fit bg-primaryColor text-colorWhite hover:bg-primaryColorHover py-3 px-5 rounded-md  transition duration-300 ease-in-out text-[1.1rem]">More
                About</a>
        </div>
    </div>
</section>