<!-- Hero section of about page -->
<section class="relative w-full h-48 md:h-64 lg:h-72">
    <!-- Background image -->
    <img src="{{heroImgSrc}}" alt="{{heroImgAlt}}"
        class="absolute inset-0 w-full h-full object-cover object-bottom">

    <!-- Overlay -->
    <div class="absolute inset-0 bg-bgLight2 bg-opacity-50"></div>

    <!-- Text content -->
    <div class="relative flex flex-col justify-center items-center h-full">
        <h1 class="text-white text-2xl md:text-3xl lg:text-4xl font-bold">{{heroTitle}}</h1>
        <p class="{{ breadCrump }}  text-xl font-semibold text-white mt-4">
            <a href="/" class="hover:underline">Home</a>
            / {{ page.url | breadcrumbs | safe }}
        </p>
    </div>
    
</section>