<!-- take me top button -->
<button id="backToTop" onclick="scrollToTop()"
class="z-50  fixed bottom-14 right-5 bg-bgLight2  h-10 w-10 flex justify-center items-center text-colorWhite py-2 px-4 rounded-full shadow-lg transition-opacity duration-300">
<i class="fa-solid fa-arrow-up"></i>
</button>