<section class="mx-auto  px-4 md:px-14 py-16">
    <h2 class="text-[var(--primaryColor)] text-3xl font-bold">Plumbing Services: Dublin, Clintonville, & Downtown
    </h2>
    <h3 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">We Serve These Columbus Neighborhoods (and More!)
    </h3>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique
        libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum
        voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium
        reiciendis?</p>
    <ul class="text-[var(--colorDark)] mt-2 list-disc marker:text-[var(--primaryColor)] serviceareali px-4">
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
    </ul>

    <h3 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Why Choose PlumbLab Plumbing?</h3>

    <ul class="text-[var(--colorDark)] mt-2 list-disc marker:text-[var(--primaryColor)] serviceareali px-4">
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptatem sint consequuntur ad vel
            nesciunt vero beatae obcaecati maiores repudiandae?</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut magnam nemo aliquid debitis sed!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, est. Dolore enim soluta odit maxime
            nesciunt sit quibusdam dicta corporis ipsa voluptas harum reprehenderit corrupti doloribus architecto id
            consequatur, quam labore illo quasi facilis doloremque nulla repellendus sed adipisci! Omnis!</li>
    </ul>

    <h3 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Beyond Service Areas</h3>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique
        libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum
        voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium
        reiciendis?</p>
    <ul class="text-[var(--colorDark)] mt-2 list-disc marker:text-[var(--primaryColor)] serviceareali px-4">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde autem repudiandae placeat soluta, nihil
            voluptatem.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, eius?</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto perferendis beatae repellat atque..</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, veritatis quos?</li>
    </ul>


</section>