<section class="mx-auto  px-4 md:px-14 py-16">
    <h3 class="text-[var(--primaryColor)] text-3xl font-bold">Privacy Policy (PlumbLab)</h3>
    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Introduction</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Updates to Our Policy</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Information Collection</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Use and Sharing of Information</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Data Retention</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Security</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Your Choices</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Third-Party Sites</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Changes to This Policy</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Contact Us</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo similique libero nobis? Soluta, voluptatibus explicabo eius nisi asperiores vitae, facilis necessitatibus, eum voluptatem dicta id incidunt harum quam eos excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, id! Deleniti officiis minima accusantium tempore id ea. Distinctio, praesentium reiciendis?</p>

    <h4 class="text-[var(--primaryColor)] text-2xl font-semibold mt-4">Effective Date</h4>
    <p class="text-[var(--colorDark)] mt-2">Lorem ipsum dolor sit, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, cumque!</p>
</section>