---
layout : 'base.njk'
title : "PlumbLab | Projects"

heroImgSrc: "/assets/about.jpg"
heroImgAlt: "HomePageHeroImg"
eleventyComputed:
 heroTitle: "{{ title }}"

---

<!-- hero section -->
{% include "_layouts/heroSection.njk" %}



{% include "_layouts/project.njk" %}

