<section class="mx-auto  px-4 md:px-14 py-16 blogPost">
    {# <h2 class="text-primaryColor text-3xl font-bold">Terms & Conditions (AquaZap)</h2> #}
    <h2 class="text-primaryColor text-2xl font-semibold mt-4">Our terms and conditions outline the responsibilities of both parties involved in the service agreement.</h2>
    {{ content | markdown | safe }}
</section>