<!-- Members -->
<section class=" mx-auto  py-16 bg-bgLight  px-4 md:px-14">
    <div class="mb-10">
        <h2 class="text-center text-4xl mb-3 text-colorDark font-bold">Dedicated <span
                class="text-primaryColor">Member</span></h2>
        <p class="hidden sm:block text-center  text-colorDark">Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.<br> has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-4 gap-8 ">
        <div class="team-card bg-colorWhite rounded-xl overflow-hidden">
            <!-- Team member image with overlay effect -->
            <div class="image-container relative group">
                <img src="/resources/resources/assets/teamperson1.jpg" class="w-full h-[18rem] object-cover rounded-xl" alt="">

                <!-- Overlay with social icons -->
                <div
                    class="overlay absolute inset-0 bg-[rgba(0,0,0,0.6)] flex items-center justify-center opacity-0 transition-opacity duration-300 rounded-xl">
                    <div class="flex space-x-4   text-2xl">
                        <!-- Social Icons (Font Awesome) -->
                        <a href="#"><i
                                class="fab fa-facebook-f text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                        <a href="#"><i
                                class="fa-brands fa-x-twitter text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></i></a>
                        <a href="#"><i
                                class="fab fa-linkedin-in text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                    </div>
                </div>
            </div>
            <!-- Text below image -->
            <div class="p-4">
                <p class="text-colorDark text-3xl mb-2">Cloie Dekar</p>
                <p class="text-textGray">Team Leader</p>
            </div>
        </div>
        <div class="team-card bg-colorWhite rounded-xl overflow-hidden">
            <!-- Team member image with overlay effect -->
            <div class="image-container relative group">
                <img src="/resources/assets/teamperson2.jpg" class="w-full h-[18rem] object-cover rounded-xl" alt="">

                <!-- Overlay with social icons -->
                <div
                    class="overlay absolute inset-0 bg-[rgba(0,0,0,0.6)] flex items-center justify-center opacity-0 transition-opacity duration-300 rounded-xl">
                    <div class="flex space-x-4   text-2xl">
                        <!-- Social Icons (Font Awesome) -->
                        <a href="#"><i
                                class="fab fa-facebook-f text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                        <a href="#"><i
                                class="fa-brands fa-x-twitter text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></i></a>
                        <a href="#"><i
                                class="fab fa-linkedin-in text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                    </div>
                </div>
            </div>
            <!-- Text below image -->
            <div class="p-4">
                <p class="text-colorDark text-3xl mb-2">Palak Sam</p>
                <p class="text-textGray">Junior Member</p>
            </div>
        </div>
        <div class="team-card bg-colorWhite rounded-xl overflow-hidden">
            <!-- Team member image with overlay effect -->
            <div class="image-container relative group">
                <img src="/resources/assets/teamperson4.jpg" class="w-full h-[18rem] object-cover rounded-xl" alt="">

                <!-- Overlay with social icons -->
                <div
                    class="overlay absolute inset-0 bg-[rgba(0,0,0,0.6)] flex items-center justify-center opacity-0 transition-opacity duration-300 rounded-xl">
                    <div class="flex space-x-4   text-2xl">
                        <!-- Social Icons (Font Awesome) -->
                        <a href="#"><i
                                class="fab fa-facebook-f text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                        <a href="#"><i
                                class="fa-brands fa-x-twitter text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></i></a>
                        <a href="#"><i
                                class="fab fa-linkedin-in text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                    </div>
                </div>
            </div>
            <!-- Text below image -->
            <div class="p-4">
                <p class="text-colorDark text-3xl mb-2">Amanedil</p>
                <p class="text-textGray">Junior Member</p>
            </div>
        </div>
        <div class="team-card bg-colorWhite rounded-xl overflow-hidden">
            <!-- Team member image with overlay effect -->
            <div class="image-container relative group">
                <img src="/resources/assets/teamperson3.jpg" class="w-full h-[18rem] object-cover rounded-xl" alt="">

                <!-- Overlay with social icons -->
                <div
                    class="overlay absolute inset-0 bg-[rgba(0,0,0,0.6)] flex items-center justify-center opacity-0 transition-opacity duration-300 rounded-xl">
                    <div class="flex space-x-4   text-2xl">
                        <!-- Social Icons (Font Awesome) -->
                        <a href="#"><i
                                class="fab fa-facebook-f text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                        <a href="#"><i
                                class="fa-brands fa-x-twitter text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></i></a>
                        <a href="#"><i
                                class="fab fa-linkedin-in text-colorWhite hover:text-primaryColor transition ease-in-out duration-300"></i></a>
                    </div>
                </div>
            </div>
            <!-- Text below image -->
            <div class="p-4">
                <p class="text-colorDark text-3xl mb-2">Jhon Dao</p>
                <p class="text-textGray">Junior Member</p>
            </div>
        </div>


    </div>
</section>