<!-- projects gallary -->
<section class=" mx-auto  py-16   px-4 md:px-14">
    {# <div class="mb-10">
        <h2 class="text-center text-4xl mb-3 text-[var(--colorDark)] font-bold">Our Latest <span
                class="text-[var(--primaryColor)]">Project</span></h2>
        <p class="hidden sm:block text-center  text-[var(--colorDark)]">Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.<br> has been the industry's standard dummy text ever since the 1500s.
        </p>
    </div> #}

    <div class="text-center mb-10">
        <button
            class="hover:bg-[var(--primaryColor)]  hover:text-[var(--colorWhite)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-medium text-[var(--colorDark)] uppercase isActive"
            id="Allimg">All Project</button>
        <button
            class="hover:bg-[var(--primaryColor)] hover:text-[var(--colorWhite)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-medium text-[var(--colorDark)] uppercase"
            id="Bathroom">Bathroom</button>
        <button
            class="hover:bg-[var(--primaryColor)] hover:text-[var(--colorWhite)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-medium text-[var(--colorDark)] uppercase"
            id="Gasline">Gas Line</button>
        <button
            class="hover:bg-[var(--primaryColor)] hover:text-[var(--colorWhite)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-medium text-[var(--colorDark)] uppercase"
            id="Kitchen">Kitchen</button>
        <button
            class="hover:bg-[var(--primaryColor)] hover:text-[var(--colorWhite)] px-3 py-2 rounded-full transition duration-300 ease-in-out text-[1.1rem] font-medium text-[var(--colorDark)] uppercase"
            id="Waterline">Water Line</button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for project in projects %}
        <div class="team-card bg-[var(--colorWhite)] rounded-xl overflow-hidden {{ project.class}}">
            <!-- Team member image with overlay effect -->
            <div class="image-container relative group">
                <img src={{ project.img }} class="w-full h-[20rem] object-cover rounded-xl" alt="">

                <!-- Overlay with social icons -->
                <div
                    class="overlay absolute inset-0 bg-[rgba(0,0,0,0.6)] flex items-end p-8 opacity-0 transition-opacity duration-300 rounded-xl">
                    <div class="">
                        <p class="text-[var(--colorWhite)] text-2xl font-bold">{{ project.service }}</p>
                        <p class="text-[var(--colorWhite)] text-xl font-medium">Plumbing</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</section>