<!-- Stats section -->
<section class=" mx-auto  py-16   px-4 md:px-14">
    <div class="grid grid-cols-1 lg:grid-cols-2 sm:gap-12 gap-8">
        <div class="bg-[var(--bgLight)] rounded-xl p-12">
            <h2 class="hidden lg:block text-left text-5xl mb-3 text-[var(--colorDark)] leading-tight font-bold">Why
                We’re the <br><span class="text-[var(--primaryColor)]">Right </span><br>Choice For You</h2>
            <h2 class="block lg:hidden text-left text-4xl mb-4 text-[var(--colorDark)] leading-tight font-bold">Why
                We’re the <span class="text-[var(--primaryColor)]">Right </span>Choice For You</h2>
            <div
                class="bg-[var(--primaryColor)] rounded-xl flex items-center justify-center gap-4 sm:p-8 p-4 w-fit mt-6">
                <p class="text-[var(--gold)] text-4xl sm:text-5xl">05K</p>
                <div>
                    <div class="sm:space-x-1"><i class="fa-solid fa-star text-[var(--gold)]"></i>
                        <i class="fa-solid fa-star text-[var(--gold)]"></i>
                        <i class="fa-solid fa-star text-[var(--gold)]"></i>
                        <i class="fa-solid fa-star text-[var(--gold)]"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-[var(--colorWhite)] text-sm sm:text-[.9rem]">Customer Review</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8">
            <div class="border rounded-xl bg-[var(--primaryColor)] flex justify-center items-center py-8">
                <div class="text-[var(--colorWhite)]">
                    <p class="sm:text-xl">Running Project</p>
                    <p class="text-4xl sm:text-6xl mt-1 sm:mt-2">250</p>
                </div>
            </div>
            <div
                class="border rounded-xl bg-gradient-to-tr from-blue-600 to-teal-300  flex justify-center items-center py-8">
                <div class="text-[var(--colorWhite)]">
                    <p class="sm:text-xl">Award Winning</p>
                    <p class="text-4xl sm:text-6xl mt-1 sm:mt-2">34</p>
                </div>
            </div>
            <div
                class="border rounded-xl bg-gradient-to-bl from-blue-600 to-cyan-400 flex justify-center items-center py-8">
                <div class="text-[var(--colorWhite)]">
                    <p class="sm:text-xl">Happy Client</p>
                    <p class="text-4xl sm:text-6xl mt-1 sm:mt-2">39K</p>
                </div>
            </div>
            <div class="border rounded-xl bg-[var(--primaryColor)] flex justify-center items-center py-8">
                <div class="text-[var(--colorWhite)]">
                    <p class="sm:text-xl">Team member</p>
                    <p class="text-4xl sm:text-6xl mt-1 sm:mt-2">55+</p>
                </div>
            </div>
        </div>
    </div>
</section>