---
layout : 'layouts/about.njk'
title : "PlumbLab | About"


heroImgSrc: "/assets/about.jpg"
heroImgAlt: "HomePageHeroImg"
eleventyComputed:
 heroTitle: "{{ title }}"


aboutUsSectionBTN : "hidden"
aboutUsSectionTopHeading : "hidden"
aboutUsSectionBgColor : "bg-[var(--bgLight)]"
---


   


