---
layout : 'layouts/privacy-policy.njk'
title : "PlumbLab | Privacy Policy"


heroImgSrc: "/resources/assets/about.jpg"
heroImgAlt: "HomePageHeroImg"
eleventyComputed:
 heroTitle: "{{ title }}"

---

## Introduction  
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed reiciendis harum aliquid tempora possimus praesentium, quidem provident blanditiis? Est iste autem et optio quos distinctio accusamus ducimus iusto modi eveniet. Quisquam, maxime! Nemo placeat eveniet cupiditate ratione pariatur molestias minus quaerat, rem omnis tempora sapiente deserunt expedita at reprehenderit dignissimos autem praesentium modi nulla. Atque fuga vitae eos deserunt natus.

## Updates to Our Policy  
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed reiciendis harum aliquid tempora possimus praesentium, quidem provident blanditiis? Est iste autem et optio quos distinctio accusamus ducimus iusto modi eveniet. Quisquam, maxime! Nemo placeat eveniet cupiditate ratione pariatur molestias minus quaerat, rem omnis tempora sapiente deserunt expedita at reprehenderit dignissimos autem praesentium modi nulla. Atque fuga vitae eos deserunt natus.

## Information Collection  
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed reiciendis harum aliquid tempora possimus praesentium, quidem provident blanditiis? Est iste autem et optio quos distinctio accusamus ducimus iusto modi eveniet. Quisquam, maxime! Nemo placeat eveniet cupiditate ratione pariatur molestias minus quaerat, rem omnis tempora sapiente deserunt expedita at reprehenderit dignissimos autem praesentium modi nulla. Atque fuga vitae eos deserunt natus.

## Data Retention  
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed reiciendis harum aliquid tempora possimus praesentium, quidem provident blanditiis? Est iste autem et optio quos distinctio accusamus ducimus iusto modi eveniet. Quisquam, maxime! Nemo placeat eveniet cupiditate ratione pariatur molestias minus quaerat, rem omnis tempora sapiente deserunt expedita at reprehenderit dignissimos autem praesentium modi nulla. Atque fuga vitae eos deserunt natus.

## Security  
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed reiciendis harum aliquid tempora possimus praesentium, quidem provident blanditiis? Est iste autem et optio quos distinctio accusamus ducimus iusto modi eveniet. Quisquam, maxime! Nemo placeat eveniet cupiditate ratione pariatur molestias minus quaerat, rem omnis tempora sapiente deserunt expedita at reprehenderit dignissimos autem praesentium modi nulla. Atque fuga vitae eos deserunt natus.


    