<!-- hero section -->
<section class="h-[60vh] lg:h-[80vh] bg-[var(--bgLight)] flex justify-between items-center px-4 md:px-14  mx-auto">
    <div class="lg:w-[70%]">
        <h1
            class="text-[var(--colorDark)] text-[2rem] lg:text-[2.6rem] xl:text-[3.5rem] font-medium  leading-tight mb-3">
            We Provide Top- Notch <br><span class="text-[var(--primaryColor)] font-bold">Plumbing &
                Repair</span><br> Service At Your Door</h1>
        <p class="text-[var(--textGray)]  text-[1rem] lg:text-[1.1rem] xl:text-lg mb-1">We provide top-notch
            plimbing and repair services at your doorstep!</p>
        <p class="text-[var(--textGray)]  text-[1rem] lg:text-[1.1rem] xl:text-lg mb-5">Whether you're dealing
            with a leaky faucet, clogged drains, or need a full system.</p>
        <a href="/contact#contactus"
            class=" bg-[var(--primaryColor)] text-[var(--colorWhite)] py-3 px-5 rounded-md hover:bg-[var(--primaryColorHover)] transition duration-300 ease-in-out text-[1.1rem]">Get
            Free Quote</a>
    </div>
    <div class="hidden md:block h-full">
        <img src="/assets/heroimg.png" class="md:w-full w-[2rem] md:pr-12  h-full  object-cover object-top "
            alt="heroimg">
    </div>
</section>